<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-5">
		<div class="row">
			<div class="col-12 text-center mb-5 jumbotron">
				<h1>Question Board</h1>
			</div>
		</div>
		<table class="table table-striped">
			<thead class="table-secondary">
				<tr>
					<th>No.</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Upload Date</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="question, loop : ${questionList}">
				<td th:text="${loop.count}"></td>
				<td>
					<a th:href="@{|/question/detail/${question.id}|}"  th:text="${question.subject}"></a>
				</td>
				<td><span th:if="${question.author != null}">[[${question.author.username}]]</span></td>
				<td th:text="${#temporals.format(question.createDate, 'MMMM dd, yyyy')}"></td>
			</tr>
		</tbody>
		</table>

		<!-- 질문등록 버튼 -->
		<div class="row">
			<div class="col-12 text-right">
				<a th:href="@{/question/form}" class="btn btn-primary">Create Post</a>
			</div>
	</div>
</html>