<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-5">
		<div class="row">
			<div class="col-12 text-center mb-5 jumbotron">
				<h1>Question Board</h1>
			</div>
			<div class="row mb-2">
				<div class="col-6">
				<!-- 질문등록 버튼 -->
					<div class="row">
						<div class="col-12 text-right">
							<a th:href="@{/question/form}" class="btn btn-primary">Create Post</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<form th:action="@{|/question/list|}" method="get">
						<div class="input-group">
							<input type="text" name="kw" class="form-control" th:value="${kw}"/>
							<div class="input-group-append">
								<input type="submit" class="btn btn-info mx-2" value="Find"/>							
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead class="table-secondary">
				<tr>
					<th>No.</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Upload Date</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="question, loop : ${paging}">
				<td>[[${paging.getTotalElements - (paging.number * paging.size) - loop.index}]]</td>
				<td>
					<a th:href="@{|/question/detail/${question.id}|}"  th:text="${question.subject}"></a>
				</td>
				<td><span th:if="${question.author != null}">[[${question.author.username}]]</span></td>
				<td th:text="${#temporals.format(question.createDate, 'MMMM dd, yyyy')}"></td>
			</tr>
		</tbody>
		</table>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!paging.hasPrevious} ? ' disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number-1}|}" aria-label="Previous">
						<span aria-hidden="true">이전</span>
					</a>
				</li>
				
				<li class="page-item" th:each="page : ${#numbers.sequence(0,paging.totalPages - 1)}" th:classappend="${page == paging.number} ? 'active'"
				th:if="${page >= paging.number - 5 and page <= paging.number +5 }">
					<a class="page-link" th:href="@{|?page=${page}|}">[[${page}]]</a>
				</li>
				
				<li class="page-item" th:classappend="${!paging.hasNext} ? ' disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number+1}|}" aria-label="Next">
						<span aria-hidden="true">다음</span>
					</a>
				</li>
			</ul>
		</nav>
		<!--<form th:action="@{/question/list}" method="get" id="searchForm">
			<input type="text" id="kw" name="kw" th:value="${kw}"/>
			<input type="text" id="page" name="page" th:value="${paging.number}"/>
		</form>-->
		
	<!--<script src="/js/script.js" layout:fragment="script"></script>	-->
</html>